MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_FROM_NAME=[PLATFORM_NAME]
MAIL_REPLY_TO=
FRONTEND_URL=https://example.com
SUPPORT_EMAIL=support@example.com
LOGO_URL=https://example.com/logo.png
PLATFORM_NAME=[PLATFORM_NAME]
PRIMARY_COLOR=#1F6FEB
